
/*------------- List Of Table -----------
# Fonts
# GLobal Settings
# Header Navigation Styles
# Homes Banner
#Home Page projects
#Sample Page projects
# Dashboard
# Footer Start
# Responsiveness Start
# Bottom To top Scroll 

------------- List Of Table ----------*/

@import url(plugins/animation.css);
@import url(plugins/css/bootstrap.min.css);
@import url(plugins/date-picker.css);
@import url(plugins/ion.rangeSlider.min.css);
@import url(plugins/dropzone.css);
@import url(plugins/select2.css);
@import url(plugins/slick.css);
@import url(plugins/slick-theme.css);
@import url(plugins/magnific-popup.css);
@import url(plugins/font-awesome.css);
@import url(plugins/icofont.css);
@import url(plugins/light-box.css);
/*------------------------------------
	Fonts
------------------------------------*/

/*------------------------------------
	Preloader
------------------------------------*/
:root, [data-bs-theme=light] {
	--bs-primary-rgb:#8A764B;
}
.dark #preloader {
  background-color: #232323;
}
h1,h2{
    font-weight: 700;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}
.form-group {
    margin-bottom: 15px;
}
.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background:#8A764B;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
form.dropzone.dz-clickable.primary-dropzone {
    background: #f9fafc;
    border: 1px solid #ebedf5;
}
i.req {
    color: #e41515;
}
.explor-thumb img{
	margin:0 auto;
}
/*--- end of preloader ---*/
/*------------------------------------------------------------
	GLobal Settings
-------------------------------------------------------------*/

  * {
 
}
body {
	background: #ffffff;
	color:#101114;
	font-size:15px;
	margin: 0;
	overflow-x: hidden !important;
	font-weight: 400;
    font-family: "Roboto", serif;

}

.modal-open {
    overflow: hidden !important;
}
html {
  position: relative;
  min-height: 100%;
  background: #ffffff; }
a {
    color:#000000;
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus {
  text-decoration: none; }

a.link {
  color:#000; }
a.link:hover, a.link:focus, a:hover, a:focus {
    /* color:#8A764B;  */
}


a.white-link {
  color: #ffffff; }
  a.white-link:hover, a.white-link:focus {
    color: #263238; }
.text-light-theme{
	color:#1da0ff !important;
}
.img-responsive {
  width: 100%;
  height: auto;
  display: inline-block; }

.img-rounded {
  border-radius: 4px; }

html body .mdi:before,
html body .mdi-set {
  line-height: initial;
}
section{
	padding:80px 0 80px;
}
section.sample{
    padding:65px 0;
}

p {
    line-height:1.8;
}
	
.active-border{
    border: 5px solid #8A764B
}
.gray-bg{
	background:#f7f9fc url(../img/pattern.png);
	background-size: cover;
    background-position: center;
}
.gray{
	background:#f7f9fc !important;
}
.gray-simple{
	background:#fff !important;
}
.bg-light{
	background:#EEEEEE !important;
}


/*------------ GLobal Settings: Heading-------------*/ 



/*------------ Global Settings: Typography ----------------*/

.card {
    border: none;
    overflow: hidden;
    background: #ffffff;
    border-radius: 0;
}



/*------------ Global Settings: Animation ----------------*/



/*------------ Global Settings: Background & Image ----------------*/


[data-overlay] {
  position: relative;
}
[data-overlay]:before {
  position: absolute;
  content: '';
  background: #252525;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

[data-overlay].image--light:before {
  background: #fff;
}
[data-overlay].bg--primary:before {
  background: #4a90e2;
}

[data-overlay="5"]:before {
  opacity: 0.5;
}


[data-scrim-top="5"]:before {
  opacity: 0.5;
}

div[data-overlay] h1,
div[data-overlay] h2,
div[data-overlay] h3,
div[data-overlay] h4,
div[data-overlay] h5,
div[data-overlay] h6 {
  color: #fff;
}
div[data-overlay] p{
  color: #fff;
}
.parallax {
  overflow: hidden;
}
/**! 07. Icons **/
.icon {
  line-height: 1em;
  font-size: 3.14285714em;
}
.imagebg:not(.image--light) span {
    color: #fff;
}
/*------------ Global Settings: Spinner ----------------*/

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
    border: 3px solid;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

   
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}






/*----------- GLobal Settings: Custom Radio Button ------------*/

/*------------- GLobal Settings: Bootstrap 4 hack --------------*/
.card-columns {
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.card-columns .card {
    margin-bottom: 30px;
}



.hidden-xs-up {
  display: none !important;
}



@media (max-width: 575px) {
	.hidden-xs-down {
		display: none !important;
	}
}

@media (min-width: 576px) {
	.hidden-sm-up {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.hidden-sm-down {
		display: none !important;
	} 

}

@media (max-width: 768px) {
	.hidden-md {
		display: none !important; 
	} 
}
@media (min-width: 768px) {
	.hidden-md-up {
		display: none !important; 
	} 
}
@media (min-width: 769px) {
	.hidden-me {
		display: none !important; 
	} 
}

@media (max-width: 991px) {
	.hidden-md-down {
		display: none !important; 
	} 
}

@media (min-width: 992px) {
	.hidden-lg-up {
		display: none !important;
	}
	.nav-left-side ul.attributes {
		float: none;
	}
}

@media (max-width: 1199px) {
	.hidden-lg-down {
		display: none !important;
	}
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
	}
   
}


.hidden-xl-down {
  display: none !important;
}

/*---------- GLobal Settings: Section Heading Style ---------*/
.sec-heading {
	margin-bottom:48px;
}

.sec-heading h2 {
font-size: 34px;
line-height: 50px;
letter-spacing: 0.2px;
margin:0;

}
.sec-heading p {
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
margin-bottom: 0;
margin-top: 10px;
}
.sec-heading.lg {
	margin-bottom:30px;
}
.sec-heading.center {
	text-align:center;
}
.sec-heading.light h2, .sec-heading.light p{
	color:#ffffff;
}

/* 
.pr-slide, .item-slide{
    margin: 0 -15px;
} */



/**************************************
	Header Navigation Styles
***************************************/

.nav-brand,
.nav-brand:focus,
.nav-brand:hover,
.nav-menu>li>a {
    color:#000000;
}
.nav-brand.text-logo{
	display:inline-flex;
	align-items:center;
}
.header.header-transparent .nav-brand.text-logo.exchange, .header.header-transparent .nav-brand.text-logo.exchange h5 {
    color: #ffffff !important;
}
.header.header-transparent.header-fixed .nav-brand.text-logo.exchange, .header .navigation.navigation-portrait .nav-brand.text-logo.exchange{
    color:#8A764B !important;
}
.header.header-transparent.header-fixed .nav-brand.text-logo.exchange h5, .header .navigation.navigation-portrait .nav-brand.text-logo.exchange h5{
	color:#252c41 !important;
}
.menu__list,
.nav-dropdown,
.nav-menu,
ul {
    list-style: none
}

.menu__link,
.navigation,
.navigation * {
    -webkit-tap-highlight-color: transparent
}

.navigation,
.navigation * {
    box-sizing: border-box
}

.navigation {
    width: 100%;
    display: table;
    position: relative;
    padding: 0 25px;
}

.nav-toggle,
.navigation-hidden .nav-header {
    display: none
}

.navigation-portrait {
    height: 48px
}

.navigation-fixed {
    position: fixed;
    top: 0;
    left: 0
}

.navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}

.align-to-right {
    float: right
}

.nav-header {
    float: left
}

.nav-brand {
    padding:0px 15px 0px 0px;
    font-size: 24px;
	margin-right: 1rem;
    text-decoration: none !important
}

.deatils ul li a,
.indicate a,
.logo h1 a,
.nav-button,
.nav-dropdown>li>a,
.nav-menu>li>a,
nav a {
    text-decoration: none
}

.navigation-portrait .nav-brand {
    font-size: 18px;
    line-height: 48px
}

.nav-logo>img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: left
}

.nav-logo:focus>img {
    outline: initial
}



.navigation-portrait .nav-logo>img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0;
}

.nav-toggle {
    height: 30px;
    padding: 6px 2px 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 10px;
    cursor: pointer;
}

.nav-toggle:before {
    width: 24px;
    height: 2px;
}

.navigation-portrait .nav-toggle {
    display: block;
}

.navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    left: -400px;
    position: fixed;
    background-color: #fff;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition-duration: .8s;
    transition-timing-function: ease;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px
}

.nav-menus-wrapper.nav-menus-wrapper-open {
    left: 0
}

.nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    right: 0
}

.nav-menus-wrapper-close-button {
    width: 35px;
    height: 35px;
    margin: 10px 7px;
    display: none;
    float: right;
    color: #8A764B;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #d9d1c2;
    border-radius: 50%;
    padding: 0;
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: flex;
}

.nav-menu {
    margin: 0;
    padding: 0;
    line-height: normal
}

.navigation-portrait .nav-menu {
    width: 100%
}

.navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center
}

.nav-menu>li {
    display: inline-block;
    text-align: left;
    padding-bottom: 10px;

}

.navigation-portrait .nav-menu>li {
    width: 100%;
    position: relative;
    border-top: solid 1px #f0f0f0
}

.navigation-portrait .nav-menu>li:last-child {
    border-bottom: solid 1px #f0f0f0
}

.nav-menu+.nav-menu>li:first-child {
    border-top: none
}

.navigation-landscape .nav-menu.nav-menu-centered>li {
    float: none
}

.nav-menu>li>a {
    padding:0;
    display: inline-block;
    /* transition: color .3s, background .3s; */
    font-weight: 700;
	font-size: 14px;
    letter-spacing: 1px;
}

.nav-menu li.active {
    margin-right: 30px;
}

.navigation-portrait .nav-menu>li>a {
    height: auto;
    width: 100%;
    padding: 12px 15px 12px 26px;
    color: #101114 !important;
}
.header-transparent .navigation-portrait .nav-menu>.active>a, .header-transparent .navigation-portrait .nav-menu>.focus>a, .header-transparent .navigation-portrait .nav-menu>li:hover>a {
    color:#101114 !important;
}
.nav-menu>.active>a,
.nav-menu>.focus>a,
.nav-menu>li:hover>a {
    color:#8A764B !important;
}
.header-transparent .nav-menu>.active>a,
.header-transparent .nav-menu>.focus>a,
.header-transparent .nav-menu>li:hover>a {
    color:#ffffff !important;
}
.header-transparent.dark .nav-menu>.active>a,
.header-transparent.dark .nav-menu>.focus>a,
.header-transparent.dark .nav-menu>li:hover>a {
    color:#000000 !important;
}
.header-transparent.dark.header-fixed .nav-menu>.active>a,
.header-transparent.dark.header-fixed .nav-menu>.focus>a,
.header-transparent.dark.header-fixed .nav-menu>li:hover>a {
    color:#8A764B !important;
}
.header-transparent.header-fixed .nav-menu>.active>a,
.header-transparent.header-fixed .nav-menu>.focus>a,
.header-transparent.header-fixed .nav-menu>li:hover>a {
    color:#8A764B !important;
}
.nav-menu>li>a>[class*=ion-],
.nav-menu>li>a>i {
    width: 18px;
    height: 16px;
    line-height: 16px;
    -ms-transform: scale(1.4);
    transform: scale(1.4)
}

.nav-menu>li>a>[class*=ion-] {
    width: 16px;
    display: inline-block;
    transform: scale(1.8)
}

.navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center
}

.nav-menu.nav-menu-social>li {
    text-align: center;
    float: none;
    border: none !important
}

.navigation-portrait .nav-menu.nav-menu-social>li {
    width: auto
}

.nav-menu.nav-menu-social>li>a>[class*=ion-] {
    font-size: 12px
}

.nav-menu.nav-menu-social>li>a>.fa {
    font-size: 14px
}

.navigation-portrait .nav-menu.nav-menu-social>li>a {
    padding: 15px
}

.submenu-indicator {
    margin-left: 6px;
    margin-top: 6px;
    float: right;
    transition: all .3s
}

.navigation-portrait .submenu-indicator {
    width:100%;
    height: 44px;
    margin-top: 0;
    position: absolute;
    text-align: center;
    z-index: 20000
}

.submenu-indicator-chevron {
    height: 6px;
    width: 6px;
    display: block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent #000000 #000000 transparent;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: border .3s
}

.navigation-portrait .submenu-indicator-chevron {
    position: absolute;
    top: 18px;
    right: 24px
}

.nav-menu>.active>a,
.nav-menu>.focus>a .submenu-indicator-chevron,
.nav-menu>li:hover>a .submenu-indicator-chevron {
    border-color: transparent #8A764B #8A764B transparent
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}
.navigation-portrait .nav-dropdown .submenu-indicator.submenu-indicator-up .submenu-indicator-chevron {
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden
}




.nav-search-icon:after,
.nav-search-icon:before {
    content: '';
    pointer-events: none
}

.nav-search-icon:before {
    width: 2px;
    height: 11px;
    top: 11px;
    position: absolute;
    left: 50%;
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    transform: translateX(-50%)
}

.nav-search-button:hover .nav-search-icon {
    color: #8A764B
}

.navigation-portrait .nav-search-button {
    width: 50px;
    height: 48px;
    line-height: 46px;
    font-size: 22px
}

.nav-search>form {
    width: 100%;
    height: 100%;
    padding: 0 auto;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 99
}




.navigation-portrait .nav-search-inner input[type=search],
.navigation-portrait .nav-search-inner input[type=text] {
    height: 48px;
    font-size: 18px;
    line-height: 48px
}

.nav-search-close-button {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: normal;
    color: #70798b;
    font-size: 20px;
    cursor: pointer;
    text-align: center
}




.navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px
}

.nav-text {
    margin: 25px 15px;
    color: #70798b
}

.navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0
}

.navigation-portrait .nav-text+ul {
    margin-top: 15px
}

.nav-dropdown {
    min-width:250px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    white-space: nowrap
}

.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0
}

.nav-dropdown .nav-dropdown {
    left: 100%
}

.nav-menu>li .nav-dropdown {
    border-top: 2px solid #8A764B;
	padding:15px;
	background:#ffffff;
    box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
	-webkit-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
    border-radius:4px;
    margin-top: 5px;
  
}

.nav-dropdown>li {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    text-align: left
}

.nav-dropdown>li>a {
    width: 100%;
    padding: 12px 20px 14px 10px;
    border-bottom: 1px solid #e4e8ec;
    display: inline-block;
    color: #101114;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight:400;
}
#navigation span.label-new {
    font-size: 11px;
    font-weight: 500;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(76 175 80 / 12%);
    padding: 2px 12px;
    border-radius: 0.2rem;
    color: #4caf50;
}
.nav-dropdown>li:last-child>a{
	border-bottom:none;
}
.nav-dropdown>li>a:hover, .nav-dropdown>li>a:focus {
    padding-left: 20px;
	color:#8A764B;
}
.social-icon a i,
.social-icons a i {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 16px
}

.nav-dropdown>.focus>a,
.nav-dropdown>li:hover>a {
    color:#8A764B;
}

.nav-dropdown.nav-dropdown-left {
    right: 0
}

.nav-dropdown>li>.nav-dropdown-left {
    left: auto;
    right: 100%
}

.navigation-landscape .nav-dropdown-left>li>a {
    text-align: right
}

.navigation-portrait .nav-dropdown>li>a {
    padding: 12px 20px 12px 30px;
    color: #101114;
}

.navigation-portrait .nav-dropdown>li>ul>li>a {
    padding-left: 50px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>a {
    padding-left: 70px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px
}

.navigation-portrait .nav-dropdown>li>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 110px
}

.nav-dropdown .submenu-indicator {
    right: 15px;
    top: 16px;
    position: absolute
}

.menu__list,
.navbar,
nav a {
    position: relative
}

.navigation-portrait .submenu-indicator {
    right: 0;
    top: 0
}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nav-dropdown>.focus>a .submenu-indicator-chevron,
.nav-dropdown>li:hover>a .submenu-indicator-chevron {
    border-color: transparent #8A764B #8A764B transparent
}

.navigation-landscape .nav-dropdown-left .submenu-indicator {
    left: 10px
}

.navigation-landscape .nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

nav a {
    display: inline-block
}

.header {
    background: #fff;
    padding: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 20px;
    left: 20px;
    border-radius: 4px;
}
.header-top {
    padding: 1em 0;
    background: #05222A
}

.indicate {
    float: left
}

.nav-toggle:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #8A764B;
    border-radius: 4px;
    box-shadow: 0 .5em 0 0 #5D5033, 0 1em 0 0 #8A764B;

}




.logo h1 a {
    color: #fff;
    font-size: 1.3em
}

.logo span {
    display: block;
    font-size: .32em;
    letter-spacing: 4px
}


.nav-menu.nav-menu-social>li.add-listing a{
	display:inline-flex;
	color:#ffffff !important;
	height:52px;
	padding:10px 20px;
	border-radius:0.3rem;
	align-items:center;
	justify-content:center;
}
.nav-menu.nav-menu-social>li.add-listing:hover a, .nav-menu.nav-menu-social>li.add-listing:focus a{
	color:#ffffff !important
}
.nav-menu.nav-menu-social>li.add-listing.light a{
	background:#ffffff !important;
	color:#041b2d !important;
}
.header-fixed .nav-menu.nav-menu-social>li.add-listing.light a{
	background-color:rgba(7, 77, 163,1)!important;
	color:#ffffff !important;
}
.nav-brand img {
    max-width:135px;
	position: relative;
}
.nav-menu.nav-menu-social .text-invers{
	color:#ffffff;
}
.header-fixed .nav-menu.nav-menu-social .text-invers{
	color:#8A764B;
}
.header .navigation.navigation-portrait .nav-menu-social{
	display:none;
}
.navigation-portrait .nav-header {
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.navigation-portrait .mobile_nav {
    margin-right: 4rem;
}
.navigation-portrait .mobile_nav ul {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
}
.navigation-portrait .mobile_nav ul li {
    list-style: none;
    margin-left: 1rem;
    display: inline-flex;
}
.navigation-portrait .account-drop .btn.btn-order-by-filt {
    box-shadow: none;
    padding: 0px 0px;
    font-weight: 600;
    height: auto;
}
/*--------- Dashboard Dropdown ----------*/

/*===================================================
 Homes Banner
==================================================*/
.light-bg{
	background:#def2ff;
}
.image-bg {
    background-size: cover;
    background-position: center;
}
.image-cover {
    background-size: cover;
    background-position: center;
}
.Header-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: absolute !important;
    top: 50px;
}
.image-bottom {
    background-size: auto;
    background-position: bottom;
}
.hero-banner {
    padding:5em 0 5em;
    display: flex;
	min-height:600px;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}


/*-------------- Homes Banner: Hero Header -----------------*/
.hero-header{
	background:#232323;
	background-position:center;
	background-size:cover;
	padding:4em 0;
	position:relative;
}
.large-banner {
    padding: 5em 0 3em;
    display: flex;
	min-height:794px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.verticle-center{
	text-align:center;
}

.hero-banner>*{
	position:relative;
	z-index:1;
}

.hero-banner h1{
	font-weight:800;
	line-height:1.3;
}
.hero-banner p {
    font-size: 24px;
    letter-spacing: 0.2px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}
.hero-banner p.small{
	font-size:15px;
}
.hero-banner p.sm-small{
	font-size:15px;
}
[data-overlay] {
    position: relative;
}
[data-overlay]:before {
    position: absolute;
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
[data-overlay="5"]:before {
    opacity: 0.5;

}


/*----------- Home Slider Banner -------------*/



h1.big-header-capt {
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 0.4em;
    text-align: center;
    text-transform: uppercase;
    font-size: 58px;
    line-height: 67px;
    letter-spacing: 0.2px;
}


/*------------- Sample Of Projects ----------------*/
.pr h1{
    font-size: 38px;
    margin-bottom: 40px;
    font-weight: 600;
}

.Main-projects.sample h3{
    font-size: 24px;
}
/*------------- Homes Projects  ----------------*/

.Home-projects img{
max-height: 288px;
width: 100%;
object-fit: cover;

}
.Home-projects-caption h2{
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.Home-projects-caption{
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    text-align: center;
    margin:0;
}

.Home-projects-caption h3{
font-weight: 600;
font-size: 34px;
line-height: 44px;
letter-spacing: 0.2px;


}
.Home-projects-caption h4{
font-weight: 400;
font-size: 24px;
line-height: 34px;
}
.Home-projects-caption p{
font-weight: 400;
font-size: 19px;
line-height: 34px;
margin:0;

}

/*------------- Project Projects  ----------------*/
.Main-projects-caption h2{
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.Main-projects-caption{
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    text-align: center;
}
.Main-projects-caption{
margin:0;
}
.Main-projects-caption h3{
font-weight: 600;
font-size: 34px;
line-height: 44px;
letter-spacing: 0.2px;


}
.Main-projects-caption h4{
font-weight: 400;
font-size: 24px;
line-height: 34px;
}
.Main-projects-caption p{
font-weight: 400;
font-size: 19px;
line-height: 34px;
margin:0;

}

/*----------- Projects Places ---------------------*/
.pr-wrap {
    margin-bottom: 2rem;
}
.pr-wrap:last-child {
    margin-bottom:0rem;
  
}
.pr_section_list {
    width: 100%;
    position: relative;
    display: block;
}
.pr_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 0.8px solid #BDBDBDE6;
    padding: 10px 0;
}

.pr_section:last-child{
	margin-bottom: 20px;
}
.pr_section_first {
    flex: 1;

}
.pr_section_first .pr_place_title {
    font-size: 14px;
    margin: 0;
    text-align: left;
}
.pr_section_last {
    display: flex;
    align-items: center;
}



/*--------------- Compare pr ------------------*/
.comp-pr {
    display: block;
    position: relative;
    padding: 0;
    min-height: 260px;
}
.comp-pr-blank {
    display: block;
    height: 259px;
}
.compare-slide-menu .pr-listing.pr-2 .listing-name {
    font-size:13px;
}
.compare-slide-menu .listing-card-info-price {
    font-size: 18px;
}

.clp-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}
.clp-img img {
   height: 380px;
   object-fit: cover;
   width:100%;
    
}
.clp-title {
    padding:0px 0;
}
.clp-title h4 {
    font-size: 17px;
    margin: 0 0 2px 0;
}
.comp-pr:hover .remove-from-compare, .comp-pr:focus .remove-from-compare{
	opacity:1;
}
.show-mb {
    display: none !important;
}
.pricing-5 {
    overflow: hidden;
  
}

.pricing-5 .pricing__title {
    min-height: 144px;
    padding: 1.625em 0;
    position: relative;
}
.pricing-5 .pricing__title h6, .pricing-5 .pricing__title h5 {
    margin: 0;
}
.pricing-5 .pricing__title h6 {
    opacity: .5;
}

.pricing-5 ul {
    margin: 0;
	padding: 0;
}

.sides-widget-header {
    position: relative;
    display: flex;
    padding:1.5rem 1rem 0.5rem 1rem;
    align-items: center;
    gap: 10px;
}
.sides-widget-header .company-photo img {

    max-width:30px;
}

/*----------------- Style 2 --------------*/
.pr_block_wrap {
    display: block;
    width: 100%;
    background: #ffffff;
    padding: 0;
    margin-bottom: 48px;
}

.pr_block_wrap.style-2 {
   border: 0.5px solid #BDBDBDE6;

}

.pr_block_wrap.style-2 .block-body {
    padding: 0rem 1rem 1rem;
}
.pr_block_wrap.style-2 .pr_block_wrap_header h4 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}
.pr_block_wrap b{
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
}
.pr_block_wrap h5{
    padding: 0 1.5rem 0.5rem 1rem;
    font-weight: 700;
    font-size: 20px;

}
.pr_block_wrap.style-2 .pr_block_wrap_header .collapsed h4:after {
    transform: rotate(180deg);
}
.pr_block_wrap.style-2 .pr_block_wrap_header h4:before{
	display:none;
}
.pr_block_wrap.style-2 .pr_block_wrap_header {
    padding: 0;
    border: none;
}
.pr_block_wrap.style-2 .pr_block_wrap_header.no-collapse h4:after {
    display:none;
}
ul.pr_list {
    margin: 0;
    padding: 1.5rem 1rem 0.5rem 1rem;
    width: 100%;
    list-style: disc;
}
.pr_list li {
    padding: 0;
    font-size: 16px;
    color:#101114;
    margin-bottom: 1.2rem;
    line-height: 1.5;
}

.pr-wrap {
    margin-bottom: 2rem;
}


.pr_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}


.pr_section_first {
    flex: 1;
}
.pr_section_first .pr_place_title {
    font-size: 14px;
    margin: 0;
	font-weight:400;
}
.pr_section_last {
    display: flex;
    align-items: center;
}

.pr_section_first .pr_place_title>small {
    margin-left: 10px;
}
.pr_section_last i {
    font-size: 10px;
    color: #ced1e4;
    font-weight: 500;
}
.pr_section_last i.filled {
    color: #FF9800;
}

.pr_header {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}
.pr_header_first {
    flex: 1;
}
.pr_header_first h5 {
    margin: 0;
    font-size: 16px;
}
.pr_header_last .pr_powerd {
    display: flex;
    align-items: center;
}
.pr_header_last .pr_powerd img {
    max-width: 50px;
    margin-left: 10px;
}
.list-fx-features {
    margin-top: 20px;
    justify-content: flex-start;
}
.listing-card-info-icon {
    width: auto;
    flex: inherit;
    display: inline-flex;
    margin-right:1.2rem;
	align-items: center;
}
.listing-card-info-icon:last-child {
    margin: 0;
}
.prt-price-fix {
    line-height: 1.4;
}
.prt-price-fix sub {
    font-size: 15px;
    font-weight: 400;
    color: #929fc5;
}
.featured_slick_gallery {
    position: relative;
}
.btn-view-pic {
    position: absolute;
    bottom: 30px;
    right: 50px;
    background: #ffffff;
    padding: 15px 26px;
    border-radius: 5px;
    font-weight: 600;
    color: #8A764B;
}
.btn-view-pic.top {
    position: absolute;
    top: 30px;
	bottom:auto;
    right: 50px;
}



/*---------- Slick Arrow -------------*/
.slick-next, .slick-prev{
	width: 40px;
	height: 40px;
}
.slick-next {
    right:25px;
}
.slick-prev {
    left: 25px;
	z-index: 1;
}
.slick-arrow:before {
    top: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    background: rgba(255, 255, 255,0.4);
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
	font-weight: 900;
    box-shadow: 0 5px 24px rgba(31, 37, 59, 0.15);
    transition: 0.2s;
}
.top-arrow>.slick-next {
    top: -40px;
    right: 40px;
}
.top-arrow>.slick-arrow:before {
    box-shadow: none;
    background:#acc6e0;
}
.top-arrow>.slick-prev {
    top: -40px;
    right: 90px;
    left: auto;
}




/*-------------------------------------------------
  Footer Start   
--------------------------------------------------*/

/*---------- Small footer -------------------*/
.footer a{
	position:relative;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}
footer{
	background:#8A764B;
}
.footer-logo {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #eaeef3;
    border-bottom: 1px solid #eaeef3;
}
.nav-footer-logo{
	display:inline-flex;
	align-items:center;
	margin-bottom:1rem
}
footer.footer-small {
    padding: 50px 0 0 0;
}
img.img-footer {
    max-width: 180px;
    margin-bottom: 2rem;
}
.ft-itext {
    font-weight: 500;
	font-size:16px;
	text-align: center !important;
    margin: 10px;
}
.ft-itext i {
    margin-right:5px;
}
ul.social {
    margin: 0;
    padding: 0;
}
ul.social li {
    display:inline-block;
	list-style:none;
	margin:5px;
}
ul.social li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
   -webkit-box-shadow: 0 0px 12px 0 rgba(71,119,244,0.2);
	box-shadow: 0 0px 12px 0 rgba(71,119,244,0.2);
    line-height: 40px;
    text-align: center;
}
.footer-add {
    color:rgba(255,255,255,0.6);
    font-size:14px;
}
footer.skin-light-footer .footer-add {
    color:#6d8294;
}
.ft-copyright {
    border-top: 1px solid #eaeef3;
    padding: 15px 0 12px 0;
}
.ft-copyright p{
	margin-bottom:0;
}

h4.widget-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
    color: #082b41;
}
.footer-widget ul {
    padding: 0;
    margin: 0;
}
.footer-widget ul li {
    list-style: none;
    margin-top:15px;
    display: block;
}
.footer-widget ul li a {
    color: #243751;
    font-weight: 600;
    font-size: 14px;
}
footer h4{
    color: #ffffff;
}

footer .footer-widget ul li a, footer, footer a {
    color:#fff;
    transition: all ease 0.4s;
    font-size: 14px;
	font-weight:700;
}


.header-bottom {
    padding:13px 0;
    border-top: 1px solid #e9edf3;
}
.footer {
    background: #8A764B;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 14px 0;
}
ul.header-bottom-social {
    margin: 0;
    padding: 0;
    float: right;
}
ul.header-bottom-social li {
    display: inline-block;
    list-style: none;
	margin-top: 0;
}
ul.header-bottom-social.right li {
    margin-left: 15px;
}
ul.header-bottom-social.left li {
    margin-right: 15px;
}
ul.header-bottom-social.left li i {
    margin-right: 5px;
}
ul.header-bottom-social li a {
    color:#fff;
}
ul.header-bottom-social li a:hover, ul.header-bottom-social li a:focus{
	color:#fff;
}
ul.header-bottom-social li i {
    margin-right: 0;
    font-size: 16px;
}
ul.header-bottom-social.right li:nth-child(2) {
    margin-left: 7px;
}

footer ul.header-bottom-social li a {
    color:#426ea5;
    font-size: 14px;
}
footer ul.header-bottom-social li a:hover, footer ul.header-bottom-social li a:focus{
	color:#ffffff;
	opacity:1;
}
.fw {
    margin-bottom: 18px;
    display: inline-block;
    position: relative;
	padding-left: 28px;
	width: 100%;
}
.fw:last-child {
    margin: 0;
}
.fw:before {
    font-family: 'themify';
    vertical-align: initial;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
}




/* ====================== New Updated Styles ==================*/
.slick-dots li button:before {
    font-family: slick;
    font-size: 18px;
    line-height:16px;
    position: absolute;
    top: 0;
    left: 0;
    width:16px;
    height:16px;
    content: '•';
    text-align: center;
    opacity: .3;
    color: #26345f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(1, 41, 91,0.1);
    border-radius: 50%;
}
.slick-slide img{
    width: 100%;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #626e80;
    line-height: 18px;
    content: "•";
    font-size: 7px;
}
/*--------- Team Styles -----------*/















/*---------------- pr Styles -------------------*/
.pr-listing {
    position: relative;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    background: #FFF9F9;
}

.listing-short-detail-holder{
    margin-left: 10px;
    margin-top: 14px; 
}

.pr-listing button a{
    color:#fff;
}
.pr-listing button:hover{
   background:#8A764B;
}

.pr-listing.list_view .listing-img-wrapper {
    flex: 1;
    position: relative;
    min-width: 250px;
}
.pr-listing.list_view .list-img-slide {
    overflow: hidden;
    position: relative;
    min-height: 220px;
    max-height: 220px;
    border-radius: 4px;
}
.pr-listing.list_view.style_new .slick-slide img, .pr-listing.list_view.style_new .list-img-slide img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}
.list-img-slide .slick-dots {
    position: absolute;
    bottom:12px;
}
.list-img-slide .slick-dots li {
    width: 18px;
    height: 4px;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 18px;
    height:4px;
    padding:0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
    
}
.list-img-slide .slick-dots li button:before {
    font-family: slick;
    font-size: 18px;
    line-height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width:18px;
    height:4px;
    opacity: 1;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(51, 60, 86);
    border-radius: 4px;
    color: transparent !important;
    box-shadow: 0px 0px 0px 4px rgb(31 38 62 / 20%);
    -webkit-box-shadow: 0px 0px 0px 3px rgb(79 91 125);
}
.list-img-slide .slick-dots li.slick-active button:before {
    font-family: slick;
    font-size: 18px;
    line-height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width:26px;
    height:4px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    border-radius: 4px;
    box-shadow: none !important;
}
.list-img-slide .slick-dots li button:before {
    width: 18px;
    height: 4px;
    background: rgba(255, 255, 255,0.8);
    box-shadow: none !important;
    -webkit-box-shadow: none !important;;
    
}
.pr-listing.list_view .list_view_flex {
    padding-left: 15px;
}
.pr-listing.list_view.style_new .listing-short-detail-wrap {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}
.listing-caption-wrapper{
    margin-top: 15px;
}
.listing-short-detail h3{
font-size: 18px;
font-weight: 600;
margin:0;
}
.listing-short-detail h4{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
.listing-short-detail p{
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    max-width: 90%;
}





/*------------ Single pr Design--------------*/


/*--------------------------------------------------
	Responsiveness Start
---------------------------------------------------*/
@media all and (min-height: 600px) and (min-width: 767px) {
  .height-10 {
    height: 10vh;
  }
  .height-20 {
    height: 20vh;
  }
  .height-30 {
    height: 30vh;
  }
  .height-40 {
    height: 40vh;
  }
  .height-50 {
    height: 50vh;
  }
  .height-60 {
    height: 60vh;
  }
  .height-70 {
    height: 70vh;
  }
  .height-80 {
    height: 80vh;
  }
  .height-90 {
    height: 90vh;
  }
  .height-100 {
    height: 100vh;
  }
}

@media all and (max-width: 1199px) and (min-width: 991px) {
	.list-layout .pr-listing.pr-1 .listing-name {
		font-size: 13px;
	}
	.listing-card-info-price {
		font-size: 18px;
	}

}
	
@media (max-height: 600px) {

}

@media (min-width: 768px) {
    .footer br{
        display:none;
        }

}

@media (min-width: 992px) {

	.header.header-fixed {
	box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
	-webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
	background: #ffffff;
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	-webkit-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
	}
	.filter_search_opt {
		display: none;
	}
	.header.header-transparent {
		background: transparent;
		position: absolute;
		left: 0;
		right: 0;
		display: inline-block;
		width: 100%;
		z-index: 4;
	}
	.change-logo .nav-brand.fixed-logo {
		display: none;
	}
	
	
	.header.header-transparent.header-fixed {
		box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
		-webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
		background: #ffffff;
		position: fixed;
		z-index: 999;
		width: 100%;
		top: 0;
		-webkit-transition: 0.2s ease-in;
		-o-transition: 0.2s ease-in;
		transition: 0.2s ease-in;
		-webkit-animation-duration: 0.5s;
		animation-duration: 0.5s;
		-webkit-animation-name: slideInDown;
		animation-name: slideInDown;
	}
	.header.header-transparent .nav-brand, .header.header-transparent .nav-brand:focus, .header.header-transparent .nav-brand:hover, .header.header-transparent .nav-menu>li>a {
		color: #ffffff;
	}
	.header.header-transparent.dark .nav-brand, .header.header-transparent.dark .nav-brand:focus, .header.header-transparent.dark .nav-brand:hover, .header.header-transparent.dark .nav-menu>li>a {
		color:#000000;
	}
	.header.header-transparent .submenu-indicator-chevron {
		border-color: transparent #ffffff #ffffff transparent;
	}
	.header.header-transparent .nav-submenu .submenu-indicator-chevron {
		border-color: transparent #70798b #70798b transparent;
	}
	
	.header.header-transparent.dark .submenu-indicator-chevron {
		border-color: transparent #000000 #000000 transparent;
	}
	.header .nav-menu>.active>a .submenu-indicator-chevron, .header .nav-menu>.focus>a .submenu-indicator-chevron, .header .nav-menu>li:hover>a .submenu-indicator-chevron {
		border-color: transparent #8A764B #8A764B transparent;
	}
	.header.header-transparent .nav-menu>.active>a .submenu-indicator-chevron, .header.header-transparent .nav-menu>.focus>a .submenu-indicator-chevron, .header.header-transparent .nav-menu>li:hover>a .submenu-indicator-chevron {
		border-color: transparent #ffffff #ffffff transparent;
	}
	.header.header-transparent.dark .nav-menu>.active>a .submenu-indicator-chevron, .header.header-transparent.dark .nav-menu>.focus>a .submenu-indicator-chevron, .header.header-transparent.dark .nav-menu>li:hover>a .submenu-indicator-chevron {
		border-color: transparent #000000 #000000 transparent;
	}
	.header.header-transparent.header-fixed .nav-menu>.active>a .submenu-indicator-chevron, .header.header-transparent.header-fixed .nav-menu>.focus>a .submenu-indicator-chevron, .header.header-transparent.header-fixed .nav-menu>li:hover>a .submenu-indicator-chevron {
		border-color: transparent #8A764B #8A764B transparent;
	}
	.header.header-transparent.header-fixed .nav-brand, .header.header-transparent.header-fixed .nav-brand:focus, .header.header-transparent.header-fixed .nav-brand:hover, .header.header-transparent.header-fixed .nav-menu>li>a {
		color:#000000;
	}
	.header.header-transparent.header-fixed .nav-menu.nav-menu-social>li.add-listing:hover a, .header.header-transparent.header-fixed .nav-menu.nav-menu-social>li.add-listing:focus a {
		color: #ffffff !important;
	}
	.header.header-transparent.header-fixed .submenu-indicator-chevron {
		border-color: transparent #2c3f56 #2c3f56 transparent;
	}
	.hero-banner {
		min-height: 580px;
	}
	.hero-search h1 {
		font-size:40px;
	}

	.ct-header h1.big {
		font-size:70px;
		line-height:1;
	}
	.ct-u-display-tablex {
		min-height:500px;
		height:100vh;
	}
	.main-banner.image-banner, .hero-header, .hero-banner{
		min-height:794px;
	}
	.hero-header.min-banner{
		height:80vh;
		min-height:400px;
	}

	.hero-banner h2, .main-banner h1 {
		font-size:60px;
		line-height:1.1;
	}

	.hero-content h1{
		font-size:60px;
	}
	.content h1{
		font-size:70px;
	}

	
	

}
@media (min-width: 993px) {
	
	
	.mobile_nav {
		display: none;
	}
}


@media (min-width: 1400px) {
	.main-banner.image-banner, .hero-header, .hero-banner{
		min-height:794px;
		height: 100vh;
	}
}
@media (max-width: 1199px) {
	.pr-listing.pr-1 .listing-location {
		font-size: 13px;
		margin-bottom: 2px;
	}
	.job-new-list .btn.btn-outline-info.float-right {
		float: none !important;
		margin: 0;
		display: table;
	}
	
	.pr-listing.pr-2 .listing-detail-wrapper {
		padding: 1rem 1rem;
	}
	.map-popup-wrap .pr-listing.pr-2 .listing-detail-wrapper {
		padding:0rem;
	}
	.foot-location {
		font-size: 13px;
		display: flex;
	}
	.listing-short-detail-flex.fl-2 {
		flex: 2.5;
	}
	.verticle-job-detail .jb-title {
		font-size: 18px;
	}
	.verticle-job-thumb {
		max-width: 60px;
		width: 60px;
	}
	.verticle-job-detail {
		margin-left: 65px;
	}
	ul li.submit-attri {
		display: none;
	}
	
	.dw-proprty-info li {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}	

@media (max-width: 1023px) {
	.half-map .fs-inner-container {
		width:100%;
	}
	
	
	.fr-grid-info ul li {
		font-size: 12px;
	}
}


@media (max-width: 992px) {	
	.header.nav-left-side .core-nav .wrap-core-nav-list .core-nav-list {
		float: none;
	}
	.nav-menu>li .nav-dropdown {
		background: transparent;
		padding: 0;
		box-shadow: none;
	}
	.nav-menu>li>.nav-dropdown:before{
		display:none;
	}
	.navigation-portrait .nav-menu.nav-menu-social {
		padding-top: 1rem;
	}
	.header-dark-transparent nav .menu li a {
		color:#606c8e;
	}
	.header-dark-transparent button.toggle-bar.core-nav-toggle {
		color: #ffffff;
	}
	.header-dark-transparent.header-fixed button.toggle-bar.core-nav-toggle {
		color: #728496;
	}
	.navigation-portrait .nav-menu.nav-menu-social>li>a {
		color: #006dbe !important;
	}
	.nav-menu.nav-menu-social>li.add-listing.blue>a{
		color: #ffffff !important;
	}
	.nav-menu.nav-menu-social>li.add-listing.light {
		background: #2471ff !important;
	}
	.nav-menu.nav-menu-social>li.add-listing.light a, .nav-menu.nav-menu-social>li.add-listing a {
		color: #ffffff !important;
	}
	.single-counter-wrap {
		flex: 0 0 50%;
		width: 50%;
	}
	.counter-info-groups {
		flex-wrap: wrap;
	}

}
@media (max-width: 991px) {
	.main-banner.image-banner, .hero-header, .hero-banner, .large-banner{
		min-height:530px;
	}
	.pricing-body ul li {
		padding: 9px 10px;
		font-size: 15px;
	}


	.change-logo .nav-brand.static-logo {
		display: none;
	}
	.nav-menu.nav-menu-social>li.add-listing a {
		top: 0px;
	    padding:15px 20px;
	}
	.search-sidebar_header {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
	}
	ul.attributes {
		float: right;
	}
	button.toggle-bar.core-nav-toggle {
		color: #8594b3;
	}
	.nav-menu.nav-menu-social>li.add-listing {
		top: 0;
	}
	.core-nav .dropdown > .dropdown-menu {
	width: 100%;
	}
	.show-mb {
		display:initial !important;
	}
	
	h1.italian-header-capt {
		font-size:25px;
	}
	.pricing-body ul li {
		padding: 9px 0;
		font-size: 15px;
	}
	.list-layout .pr-listing.pr-1 .listing-img-wrapper {
		flex: initial;
	}
	.list-layout .pr-listing.pr-1 .listing-content {
		flex: initial;
		position: relative;
	}
	.list-layout .pr-listing.pr-1 {
		display: block;
		margin: 0 0 30px 0;
	}

	


}

@media (max-width: 767px) {
.footer br{
display:none;
}
.footer-links{
    display: grid;
    justify-content: center;
}

.Home-projects-caption h3 , h1.big-header-capt {
    font-size: 30px;
    line-height: 36px;
}
.hero-banner p{
 font-size: 15px;
}

section {
    padding: 60px 0 60px 0;
}
    .footer {
       text-align: center;
       line-height: 30px;
       padding: 30px 0 30px 0;
    }
	
    .footer img {
       margin-bottom: 20px;
     }
}






@keyframes zoom-in-zoom-out {
 
    50% {
        transform: scale(1.1, 1.1);
      }
  100% {
    transform: scale(1.2, 1.2);
  }
} 

/* .card:hover img {
    transform: scale(1.2, 1.2);
} 

.card .abx-thumb img{
    transition: all .4s ease-in-out; 
    cursor: pointer;
} */

.h-100 {
    height: 100% !important;
}




/*----------- Blog Grid ---------*/

.blog-wrap-grid {
    width: 100%;
    background: #FFF9F9;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    margin-bottom:30px;
}
.blog-wrap-grid.style2 {
    background: #F9E8E8;
    margin-bottom: 43px;
}
.blog-wrap-grid button{
    width: 100%;
    border: 0;
    border-radius: 0;
    background:#8A764B;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    padding:6px;
}
.blog-wrap-grid button a{
    color: #fff;

}
.blog-thumb {
    padding: 0;
    border-radius: 0;
    overflow: hidden;
}
.blog-thumb img {
    border-radius: 4px;
}
.blog-info {
    padding: 0;
}
.blog-info i {
    margin-right:7px;
}
.blog-body {
    padding: 5px 20px 30px;
    padding-bottom: 0;
    padding: 0;
}
.bl-title {
    font-size: 19px;
	margin-bottom:4px;
}


.listing-holder {
display: flex;
justify-content: space-between;
flex-direction: column;
}


 
            
            .Secondary-header {
    background: #8A764B;
    color: #fff;
   padding:18px 33px;
   position: relative;
}

.Secondary-header a , .Secondary-header li{
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
}
.Secondary-header-links-left{
        display: flex;
        gap: 34px;
}

.Secondary-header-logo{
    right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}





.header.header-transparent.custom-edit{
    display: none;
}

.header.header-transparent.header-fixed.custom-edit{
    display: block;
}



@media (max-width: 768px) {
    .header.header-transparent.custom-edit{
		display: block 
	}
}




/*----------- Industrial Page ---------*/

.Industrial h1{
    font-size: 38px;
    margin-bottom: 68px;
    font-weight: 600;
}
.Industrial .listing-short-detail p{
    font-size: 15px;
    font-weight: 400;
    margin-left: 4px;
}

.Industrial .list-img-slide.position-relative img {
    max-height: 360px;
    object-fit: cover;
}
.Industrial .listing-short-detail.custom p{
line-height: 30px;
}
.Industrial .listing-short-detail h4{
    font-size: 15px;
    font-weight: 700;
}
.Industrial .listing-short-detail{
    display: flex;
}
.Industrial .listing-short-detail-holder{
    margin-left: 10px;
    margin-top: 24px;
}
.Industrial .listing-short-detail.title{
    margin-bottom: 0;
}
.Industrial .listing-short-detail h3{
    margin-bottom: 29px;
}

.Industrial .listing-short-detail{
    margin-bottom: 13px;
}

.Industrial .box-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 240px;
}

/*----------- Industrial Page ---------*/


    .listing-holder.project{
        min-height: 242px;
    }
   .sample-project.slick-slide img{
        max-height: 243px;
   }
 